:root {
  --reach-listbox: 1;
}

.button[aria-expanded='true'] {
  border-color: hsl(var(--primary));
}

.option[aria-selected='true']:not([aria-disabled='true']) {
  color: hsl(var(--primary));
  background-color: transparent;
}

.option:not([data-current='']) {
  padding-left: 2rem;
}

.optionBackdrop {
  opacity: 0.12;
}

.option[aria-selected='true']:not([aria-disabled='true']) .optionBackdrop {
  position: absolute;
  opacity: 0.12;
}

.option[data-current=''] .optionIcon {
  display: block;
}

.popover {
  min-width: min-content;
}
