.item {
  padding: .75rem .5rem;
  color: var(--color-on-surface);
  cursor: pointer;
  font-size: .85rem;
}

.itemSelected {
  color: var(--color-primary);
  position: relative;
  background-color: transparent;
}

.itemSelected::before {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  pointer-events: none;
  opacity: .12;
}
