.searchForm {
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  height: 46px;
  flex: 1;
  max-width: 600px;
  transition: background-color .2s ease-in-out,
    box-shadow .2s ease-in-out;
}

.searchFormFocused {
  background-color: #fff;
}

@media only screen and (max-width: 30rem) {
  .searchForm {
    max-width: 200px;
  }
}

@media only screen and (max-width: 60rem) {
  .searchForm {
    max-width: 400px;
  }
}
