:root {
  --reach-listbox: 1;
}

.button[aria-expanded="true"] {
  border-color: var(--color-primary);
}

.option[aria-selected="true"]:not([aria-disabled="true"]) {
  color: var(--color-primary);
  background-color: transparent;
}

.option[aria-selected="true"] .optionBackdrop {
  position: absolute;
  opacity: .12;
}

.option[data-current=""] .optionIcon {
  display: block;
}

.option:not([data-current=""]) {
  padding-left: 2rem;
}

.optionBackdrop {
  opacity: .12;
}

.popover {
  min-width: min-content;
}
