.menuItem[data-reach-menu-item][data-selected=""],
.menuItem:hover,
.menuItem:focus {
  background: transparent;
  color: var(--primary);
}

.menuItem[data-selected=""] .menuItemBackdrop,
.menuItem:hover .menuItemBackdrop,
.menuItem:focus .menuItemBackdrop {
  opacity: .12;
}
