.tab {
  height: 3.2rem;
}

.tab[data-selected=""] {
  border: none;
}

.tab svg {
  color: var(--color-text-secondary);
}

.tab[data-selected=""] svg {
  color: var(--color-primary);
}

.tab:hover .backdrop {
  opacity: 0.08;
  display: block;
}

.tab[data-selected=""] .border {
  display: block;
}
