.c-primary { color: var(--color-primary, $mdc-theme-primary); }
.bg-primary { background-color: var(--color-primary, $mdc-theme-primary); }
.b--primary { border-color: var(--color-primary, $mdc-theme-primary); }

.hover-c-primary:hover,
.hover-c-primary:focus { color: var(--color-primary, $mdc-theme-primary); }

.hover-bg-primary:hover,
.hover-bg-primary:focus { background-color: var(--color-primary, $mdc-theme-primary); }

.c-on-primary { color: var(--color-on-primary, $mdc-theme-on-primary); }
.bg-on-primary { background-color: var(--color-on-primary, $mdc-theme-on-primary); }
.b--on-primary { border-color: var(--color-on-primary, $mdc-theme-on-primary); }

.hover-c-on-primary:hover,
.hover-c-on-primary:focus { color: var(--color-on-primary, $mdc-theme-on-primary); }

.hover-bg-on-primary:hover,
.hover-bg-on-primary:focus { background-color: var(--color-on-primary, $mdc-theme-on-primary); }

.c-secondary { color: var(--color-secondary, $mdc-theme-secondary); }
.bg-secondary { background-color: var(--color-secondary, $mdc-theme-secondary); }
.b--secondary { border-color: var(--color-secondary, $mdc-theme-secondary); }

.hover-c-secondary:hover,
.hover-c-secondary:focus { color: var(--color-secondary, $mdc-theme-secondary); }

.hover-bg-secondary:hover,
.hover-bg-secondary:focus { background-color: var(--color-secondary, $mdc-theme-secondary); }

.c-on-secondary { color: var(--color-on-secondary, $mdc-theme-on-secondary); }
.bg-on-secondary { background-color: var(--color-on-secondary, $mdc-theme-on-secondary); }
.b--on-secondary { border-color: var(--color-on-secondary, $mdc-theme-on-secondary); }

.hover-c-on-secondary:hover,
.hover-c-on-secondary:focus { color: var(--color-on-secondary, $mdc-theme-on-secondary); }

.hover-bg-on-secondary:hover,
.hover-bg-on-secondary:focus { background-color: var(--color-on-secondary, $mdc-theme-on-secondary); }

.c-surface { color: var(--color-surface, $mdc-theme-surface); }
.bg-surface { background-color: var(--color-surface, $mdc-theme-surface); }
.b--surface { border-color: var(--color-surface, $mdc-theme-surface); }

.hover-c-surface:hover,
.hover-c-surface:focus { color: var(--color-surface, $mdc-theme-surface); }

.hover-bg-surface:hover,
.hover-bg-surface:focus { background-color: var(--color-surface, $mdc-theme-surface); }

.c-on-surface { color: var(--color-on-surface, $mdc-theme-on-surface); }
.bg-on-surface { background-color: var(--color-on-surface, $mdc-theme-on-surface); }
.b--on-surface { border-color: var(--color-on-surface, $mdc-theme-on-surface); }

.hover-c-on-surface:hover,
.hover-c-on-surface:focus { color: var(--color-on-surface, $mdc-theme-on-surface); }

.hover-bg-on-surface:hover,
.hover-bg-on-surface:focus { background-color: var(--color-on-surface, $mdc-theme-on-surface); }
