$mdc-typography-font-family: unquote("Libre Franklin, sans-serif");

$mdc-theme-primary: #2962ff;
$mdc-theme-on-primary: #fff;
$mdc-theme-secondary: #ffab40;
$mdc-theme-on-secondary: #000;

$mdc-theme-surface: #fff;
$mdc-theme-on-surface: #000;
