$mdc-typography-font-family: "Libre Franklin";

$mdc-theme-primary: #2962ff;
$mdc-theme-on-primary: #fff;
$mdc-theme-secondary: #ffab40;
$mdc-theme-on-secondary: #000;

$mdc-theme-surface: #fff;
$mdc-theme-on-surface: #000;

$mdc-shape-small-component-radius: 0px;
$mdc-shape-medium-component-radius: 0px;
