@import '../../styles/_variables';

.landing__jumbo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: $mdc-theme-primary;
}

.landing__app-title {
  font-weight: bold;
  color: $mdc-theme-on-primary;
}

.landing__moto {
  margin: 1.5rem 0;
  color: $mdc-theme-on-primary;
}

.landing__register-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  width: 100%;
}

.landing__login-text {
  color: $mdc-theme-on-primary;
  margin-top: 1rem;
}

.landing__login-text a {
  color: $mdc-theme-on-primary;
  font-weight: bold;
}
