@import './styles/_variables';

@import '@material/button/mdc-button.scss';
@import '@material/card/mdc-card.scss';
@import '@material/fab/mdc-fab.scss';
@import '@material/icon-button/mdc-icon-button.scss';
@import '@material/ripple/mdc-ripple.scss';
@import '@material/snackbar/mdc-snackbar.scss';
@import '@material/typography/mdc-typography.scss';

@import '@material/react-layout-grid/index.scss';
@import '@material/react-linear-progress/index.scss';

@import '~@reach/checkbox/styles.css';
@import '~@reach/dialog/styles.css';
@import '~@reach/menu-button/styles.css';
@import '~@reach/tabs/styles.css';

@import './styles/_overrides.scss';
@import './styles/_draft.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
  height: 100%;
}

:root {
  --color-primary: #2962ff;
  --color-on-primary: #fff;
  --color-secondary: #ffab40;
  --color-on-secondary: #000;
  --color-surface: #fff;
  --color-on-surface: #000;
  --color-error: #b00020;
  --color-on-error: #fff;
  --color-success: hsl(122.4, 39.4%, 36.2%);
  --color-on-success: #fff;
  --color-emphasis: #5e2ca5;
  --color-on-emphasis: #fff;
  --color-muted: #f0f0f0;
  --color-outline: #e0e0e0;
  --color-disabled: rgba(0, 0, 0, 0.12);
  --color-text-primary: rgba(0, 0, 0, .87);
  --color-text-secondary: rgba(0, 0, 0, .54);
  --color-text-hint: rgba(0, 0, 0, .38);
  --color-text-disabled: rgba(0, 0, 0, .38);
  --color-text-icon: rgba(0, 0, 0, .38);
}
