.circle1 {
  animation: dots-1 2.5s ease-in-out infinite;
}

.circle2 {
  animation: dots-2 2.5s ease-in-out infinite;
}

.circle3 {
  animation: dots-3 2.5s ease-in-out infinite;
}

@keyframes dots-1 {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(8px);
  }

  40% {
    transform: translateY(-8px);
  }

  60% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes dots-2 {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(8px);
  }

  60% {
    transform: translateY(-8px);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes dots-3 {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(8px);
  }

  80% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0);
  }
}
