@import '../styles/_variables';

.screen-loader {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: $mdc-theme-primary;
  color: $mdc-theme-on-primary;
  align-items: center;
  justify-content: center;
}

