.settingItem {
  grid-template-columns: 1fr auto;
}

.settingDescription {
  grid-row-start: 2;
  grid-column-start: span 2;
}

.settingInput {
  grid-row-start: span 1;
}

@media only screen and (min-width: 480px) {
  .settingItem {
    grid-template-columns: auto min-content;
  }
}

@media only screen and (min-width: 640px) {
  .settingDescription {
    grid-column-start: span 1;
  }

  .settingInput {
    grid-row-start: span 2;
  }
}
