@import '../styles/_variables';

.user-popup {
  position: relative;
}

.user-popup__card {
  position: absolute;
  min-width: 250px;
  right: 0;
  top: 100%;
  color: $mdc-theme-on-surface;
}

.user-popup__card-content {
  padding: 1rem;
}

