.button {
  padding: .125rem .25rem;
  text-align: center;
  outline: none;
}

.buttonSelected {
  color: var(--color-primary);
}

.icon {
  font-size: 1.25rem !important;
  vertical-align: middle;
}
