@import './styles/_variables';

@import '~@reach/checkbox/styles.css';
@import '~@reach/dialog/styles.css';
@import '~@reach/menu-button/styles.css';
@import '~@reach/tabs/styles.css';

@import './styles/_draft.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Libre Franklin, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
}

:root, .__light-mode {
  // Reach imports
  --reach-tooltip: 1;

  // Theme variables
  --background: hsla(224, 30%, 20%, 0.05);
  --disabled: rgba(0, 0, 0, 0.12);
  --divider: hsl(224, 0%, 87.8%);
  --editor-background: hsl(0, 0%, 100%);
  --gray-1: hsl(224, 0%, 87.8%);
  --gray-2: hsl(224, 5%, 58.7%);
  --gray-3: hsl(224, 10%, 32.5%);
  --gray-4: hsl(224, 16%, 12.8%);
  --green-1: hsl(122.4, 39.4%, 36.2%);
  --hover-overlay: hsla(224, 70%, 58%, 0.08);
  --input-background: hsl(0, 0%, 100%);
  --on-primary: hsl(0, 0%, 100%);
  --on-surface: hsl(0, 0%, 0%);
  --primary: hsl(224, 100%, 58%);
  --primary-background: hsl(224, 100%, 58%);
  --primary-disabled: hsl(224, 30%, 77%);
  --red-1: hsl(349.1, 100%, 34.5%);
  --secondary: hsl(224, 15%, 90.8%);
  --surface: hsl(0, 0%, 100%);
  --text-disabled: rgba(0, 0, 0, .38);
  --text-hint: rgba(0, 0, 0, .38);
  --text-icon: rgba(0, 0, 0, .54);
  --text-primary: rgba(0, 0, 0, .87);
  --text-secondary: rgba(0, 0, 0, .54);
  --violet-1: hsl(264.8, 57.9%, 41%);
  --violet-2: hsl(264.8, 23.7%, 63.5%);
  --yellow-1: hsl(39.1, 100%, 66.3%);
}

.__dark-mode, :root.__dark-mode {
  // Theme variables
  --background: hsl(225, 5%, 10%);
  --disabled: rgba(255, 255, 255, 0.12);
  --divider: hsla(0, 0%, 100%, 0.1);
  --editor-background: hsl(224, 5%, 17%);
  --gray-1: hsl(224, 0%, 87.8%);
  --gray-2: hsl(224, 5%, 58.7%);
  --gray-3: hsl(224, 10%, 32.5%);
  --gray-4: hsl(224, 16%, 12.8%);
  --green-1: hsl(122.4, 35.4%, 50.2%);
  --hover-overlay: hsla(215, 39%, 30%, 0.08);
  --input-background: hsl(224, 5%, 15%);
  --on-primary: hsl(0, 0%, 100%);
  --on-surface: #fff;
  --primary: hsl(224, 100%, 63%);
  --primary-background: hsl(224, 100%, 30%);
  --primary-disabled: hsl(224, 30%, 77%);
  --red-1: hsl(349.1, 75%, 50%);
  --secondary: hsla(224, 10%, 25%, 0.87);
  --surface: hsl(224, 5%, 12.4%);
  --text-disabled: rgba(255, 255, 255, .38);
  --text-hint: rgba(255, 255, 255, .60);
  --text-icon: rgba(255, 255, 255, .38);
  --text-primary: rgba(255, 255, 255, 1);
  --text-secondary: rgba(255, 255, 255, .87);
  --violet-1: hsl(264.8, 58.9%, 61%);
  --violet-2: hsl(264.8, 35%, 73.5%);
  --yellow-1: hsl(39.1, 100%, 66.3%);
}
