@import './styles/_variables.scss';
@import './styles/_tachyons-material.scss';

@import '@material/react-button/index.scss';
@import '@material/react-card/index.scss';
@import '@material/react-dialog/index.scss';
@import '@material/react-drawer/index.scss';
@import '@material/react-fab/index.scss';
@import '@material/react-layout-grid/index.scss';
@import '@material/react-linear-progress/index.scss';
@import '@material/react-list/index.scss';
@import '@material/react-material-icon/index.scss';
@import '@material/react-snackbar/index.scss';
@import '@material/react-tab/index.scss';
@import '@material/react-tab-bar/index.scss';
@import '@material/react-tab-indicator/index.scss';
@import '@material/react-tab-scroller/index.scss';
@import '@material/react-text-field/index.scss';
@import '@material/react-top-app-bar/index.scss';
@import '@material/react-typography/index.scss';

@import 'tachyons-sass/tachyons.scss';

@import './styles/_overrides.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
  height: 100%;
}
