@import './styles/_variables.scss';
@import './styles/_tachyons-material.scss';

@import '@material/react-button/index.scss';
@import '@material/react-top-app-bar/index.scss';
@import '@material/react-card/index.scss';
@import '@material/react-fab/index.scss';
@import '@material/react-text-field/index.scss';
@import '@material/react-material-icon/index.scss';
@import '@material/typography/mdc-typography';
@import '@material/layout-grid/mdc-layout-grid';
@import '@material/react-drawer/index.scss';
@import '@material/react-list/index.scss';

@import 'tachyons-sass/tachyons.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body, #root {
  height: 100%;
}

.mdc-card {
  @include mdc-card-shape-radius(5px);
}

